STORAGE_API_URL="https://api.chainsafe.io/api/v1"
STORAGE_API_KEY=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE2NzA0NzgwMjMsImNuZiI6eyJqa3UiOiIvY2VydHMiLCJraWQiOiI5aHE4bnlVUWdMb29ER2l6VnI5SEJtOFIxVEwxS0JKSFlNRUtTRXh4eGtLcCJ9LCJ0eXBlIjoiYXBpX3NlY3JldCIsImlkIjo5OTM5LCJ1dWlkIjoiMjhiNWNjZDctMzI0YS00Zjc5LTg2YWEtNTM4YjZiMmMyNjhkIiwicGVybSI6eyJiaWxsaW5nIjoiKiIsInNlYXJjaCI6IioiLCJzdG9yYWdlIjoiKiIsInVzZXIiOiIqIn0sImFwaV9rZXkiOiJOTUFHWVNWSVZWVlJEVEVPTEVIUSIsInNlcnZpY2UiOiJzdG9yYWdlIiwicHJvdmlkZXIiOiIifQ.9IwvkfcpM6TZu3VaPlRjouQr76gc4AqE9zH6GAnrMrgH18GOGDvEf_5lANd3vjS9-wNmj8VKeX2X5r3R9SUWAw

SIGNER_MNEMONIC=
MINTER_721_ADDRESS=0x32725F429f50386A5aD8a50230d73a6AAb2973cB
MINTER_1155_ADDRESS=0x80B64839B897D9D638468265E6b49f447A169cE7